@using Music_site_MVC.Models
@model Song
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="curSongData">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        @Ajax.ActionLink("Лучшая книга", "GetPrevSong", new { artist_id = Model.ArtistId, song_id = Model.Id }, new AjaxOptions { UpdateTargetId = "curSongData" })
    


   
</div>